    /* Large desktop */
@media (min-width: 980px) { 
body {
    padding-top: 60px;
}
.linediv-l {
    border-right: 1px white solid;
}
.linediv-r {
    border-left: 1px white solid;
}
}
    /* Landscape phones and down */
@media (max-width: 480px) { 
.copy {
    padding: 2.5% 10%;
}
.linediv-l {
    border-bottom: 1px white solid;
}
.linediv-r {
    border-top: 1px white solid;
}
}
            
      

/* Main body and headings */
body{
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.heading, .subheading, #canvas {
font-family:  'Bradley Hand ITC',
                'Brush Script MT',
                'Blackadder ITC',
                'Segoe UI Light',  Helvetica, Arial, sans-serif;
text-align: center;
color: white;
background:   url("back1.PNG") center repeat-x;
                    
/*  background: url("logo.jpg") left bottom no-repeat;*/
/*padding-top: 6%;
padding-bottom: 6%;*/
font-size:  200px;
/*margin-bottom: 20px;*/
}

#bg-music{
    align-items:  flex-end;
    align-content: flex-end;
    vertical-align: bottom;
    align-self: flex-start;
    text-align: right;
}

#Welcome {
    align-items:  center;
    align-content: center;
    align-self: center;
    text-align: center;
}

p.lead {
padding-top: 5%;
font-size:   200px;
line-height: 200px;

}
p {
font-size: 18px;
line-height: 24px;
}
/* Video pitch and Action */
.pitch {
padding: 2.5% 0%;
}
.order {
padding: 2% 0%;
}
.actions {
background-color: #343434;
padding: 3% 0%;
}
.video, .thermometer, .order, .social, .statistics {
text-align: center;
}
.statistics h3, .statistics p {
color: white;
}

/* Marketing Copy and Footer */
.copy {
padding-top: 2.5%;
padding-bottom: 2.5%;
text-align: justify;
}
.asset {
padding: 2.5% 0%;
}
.footer {
color: #cccccc;
text-align: center;
}
.footer p {
font-size: 11px;
}
.footer a {
color: #ccccff;
}

/* http://support.addthis.com/customer/portal/questions/1136093-share-buttons-in-center-position */      
div.addthis_toolbox {
    width:180px;
    margin: 0 auto;
}

/* style for tables*/
#demo_table.fixed{   
table-layout: fixed; 
margin: auto;
border: 10px ridge;
}
/* basic share rules*/
#demo_table th,
#demo_table td {
text-align: center;
padding: 0.5em;
border: 5px double;
}
#demo_table tr {
border: 5px double;
font-size: 15px;
}
#demo_table tr.speaker {
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
#demo_table td.time {
min-width: 100px;
font-family: 'Segoe UI Light', Helvetica, Arial, sans-serif;
font-style: italic;
}

#demo_table td.papertime {
font-family: 'Segoe UI Light', Helvetica, Arial, sans-serif;
font-style: italic;
}

/* flipping effect*/
.panel {
    width: 331px;
    height: 417px;
    margin: auto;
    position: relative;
    margin: auto;
}
 
.card {
    width: 100%;
    height: 100%;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}
 
.front {
    resize: both;
    z-index: 2;
    background-image: url("home-montage.jpg");
}

.back {
    resize: both;
    z-index: 1;
    -webkit-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    background-image: url("ProfilePhoto.png");
}
 
.panel:hover .front {
    z-index: 1;
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
 
.panel:hover .back {
    z-index: 2;   
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

/* publication list*/
p {
font-size: 18px;
line-height: 24px;
}
.publications {
   padding: 2.5% 0%;
}
.paper_title{
    color:  #e77b0b;
    font-size: 18px;
    line-height: 20px;
}

.abstract_fig{
    font-size: 16px;
    line-height: 20px;
}
.author {
    font-size: 18px;
    color: #87AFC7;
}
.intro {
    padding-left: 5%;
}

/* Image hovering*/
a>div { display: none; }
a:hover>div { display: block; }
.link4 {
    padding: 1%;
        
}
.link4 a {display: block;
          text-decoration: none;
          
}

#coursera {
    border:  ridge;
    background-color:  azure;
}

#udacity {
    border:  ridge;
    background-color:  azure;
}


.descption {
    font-size: 50px;
    margin: 1%;
}

.group_member {
        text-decoration: none;
            border:  ridge;
    background-color:  azure;
}

img.align-right {
 float: right;
 margin-left: 30px;
}

img.wrap { max-width: 70%; margin: 30px 0px; }


#images{
    text-align:center;
    margin:50px auto; 
}
#images a{
    margin:0px 20px;
    display:inline-block;
    text-decoration:none;
    color:black;
 }

h4 {
    font-size: 18px;
}

li {
    font-size: 17px;
}
#samp {
     font-size: 14px;
}

/* AK custom CSS mods */
.imgright { float: right; margin-left: 10px; }
.imgcap img {
  border: 1px solid #999;
  max-width: 100%;
}
.imgcap {
  color: #555;
  font-size: 14px;
  text-align: center;
}